### 지역별 관광데이터 살펴보기_광역
- 공공데이터 오픈 API 활용
- 서울, 인천, 경기 지역만 필터링
- 관광객은 외지인, 외국인 으로 가정하기
- 내 담당 날짜 :20200101-20201231

필요 모듈 다운로드

In [11]:
pip install requests

Requirement already satisfied: requests in c:\users\sju02\appdata\local\programs\python\python310\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sju02\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sju02\appdata\local\programs\python\python310\lib\site-packages (from requests) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\sju02\appdata\local\programs\python\python310\lib\site-packages (from requests) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sju02\appdata\local\programs\python\python310\lib\site-packages (from requests) (1.26.11)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\Users\sju02\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### 1.오픈API 활용

In [13]:
k='XtYWixmqX0vI2cKJSegeWtyEi9VruhGYOsi3GtUXDfIRIvJJa79BHlo4zukDQ%2BJMJS88CeCDtIKimAbrDSyM0Q%3D%3D'

In [14]:
m_os='ETC'
m_ap='AppTest'

In [15]:
# 요청 URL
endpoint = 'http://api.visitkorea.or.kr/openapi/service/rest/DataLabService/metcoRegnVisitrDDList?'
skey = 'ServiceKey='+ k
param = '&pageNo='+str(1)+'&numOfRows='+str(20000)+'&MobileOS='+m_os+'&MobileApp='+m_ap+'&startYmd='+str(20200101)+'&endYmd='+str(20201231)

url = endpoint+skey+param
url

'http://api.visitkorea.or.kr/openapi/service/rest/DataLabService/metcoRegnVisitrDDList?ServiceKey=XtYWixmqX0vI2cKJSegeWtyEi9VruhGYOsi3GtUXDfIRIvJJa79BHlo4zukDQ%2BJMJS88CeCDtIKimAbrDSyM0Q%3D%3D&pageNo=1&numOfRows=20000&MobileOS=ETC&MobileApp=AppTest&startYmd=20200101&endYmd=20201231'

In [16]:
result = requests.get(url)

#### 1.데이터 살펴보기

In [17]:
# result.content

In [18]:
bs_obj = BeautifulSoup(result.content, "html.parser")
# bs_obj

c:\Users\sju02\AppData\Local\Programs\Python\Python310\lib\site-packages\bs4\builder\__init__.py:545: XMLParsedAsHTMLWarning: It looks like you're parsing an XML document using an HTML parser. If this really is an HTML document (maybe it's XHTML?), you can ignore or filter this warning. If it's XML, you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the lxml package installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.
  warnings.warn(

In [19]:
#데이터 길이 추출
items= bs_obj.findAll('item')
len(items)

18666

#### 3.데이터 프레임 생성

In [20]:
#필요 컬럼만 추출하여 df 생성
import pandas as pd
region = [item.areanm.text for item in items]
day = [item.daywkdivnm.text for item in items]
type_v = [item.toudivnm.text for item in items]
num_v = [item.tounum.text for item in items]
ymd=[item.baseymd.text for item in items]



# addr = [item.dutyaddr.text for item in items]
# tel = [item.dutytel1.text for item in items]

In [21]:
df=pd.DataFrame({'지역':region,'요일':day,'관광객_구분명':type_v,'방문객_수':num_v,'년월일':ymd})
df.head()

      지역   요일 관광객_구분명              방문객_수       년월일
0  서울특별시  수요일  현지인(a)          3895174.5  20200101
1  서울특별시  수요일  외지인(b)          1290688.0  20200101
2  서울특별시  수요일  외국인(c)  48461.60553021348  20200101
3  부산광역시  수요일  현지인(a)          1214132.5  20200101
4  부산광역시  수요일  외지인(b)           456970.5  20200101

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18666 entries, 0 to 18665
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역       18666 non-null  object
 1   요일       18666 non-null  object
 2   관광객_구분명  18666 non-null  object
 3   방문객_수    18666 non-null  object
 4   년월일      18666 non-null  object
dtypes: object(5)
memory usage: 729.3+ KB

In [23]:

df.tail()

            지역   요일 관광객_구분명               방문객_수       년월일
18661     경상남도  목요일  외지인(b)            419002.5  20201231
18662     경상남도  목요일  외국인(c)  1412.8631843873309  20201231
18663  제주특별자치도  목요일  현지인(a)            397383.0  20201231
18664  제주특별자치도  목요일  외지인(b)            110439.0  20201231
18665  제주특별자치도  목요일  외국인(c)   750.4617780661908  20201231

In [24]:
#서울, 경기도, 인천 데이터 필터링
df2=df[(df['지역']=='서울특별시') | (df['지역']=='인천')| (df['지역']=='경기도')]

In [25]:
df2.head()
df2.tail()

          지역   요일 관광객_구분명               방문객_수       년월일
18616  서울특별시  목요일  외지인(b)           1239710.5  20201231
18617  서울특별시  목요일  외국인(c)    2783.41660733784  20201231
18639    경기도  목요일  현지인(a)           5302073.0  20201231
18640    경기도  목요일  외지인(b)           1530032.0  20201231
18641    경기도  목요일  외국인(c)  3976.6872762107196  20201231

In [26]:
#관광객 조건에 해당하는 방문객 데이터 필터링
df2=df2[(df2['관광객_구분명']=='외지인(b)') | (df2['관광객_구분명']=='외국인(c)')]

In [27]:
df2.head()
df2.tail()

          지역   요일 관광객_구분명               방문객_수       년월일
18590    경기도  수요일  외국인(c)  4216.9053454913865  20201230
18616  서울특별시  목요일  외지인(b)           1239710.5  20201231
18617  서울특별시  목요일  외국인(c)    2783.41660733784  20201231
18640    경기도  목요일  외지인(b)           1530032.0  20201231
18641    경기도  목요일  외국인(c)  3976.6872762107196  20201231

In [28]:
#20200101-20200630, 20200701-20201231 두 날짜 사이값으로 파일 나눠서 저장하기-팀원들과 검증을 위해

# df_2020_H1=df2.query("년월일>='20200101' and 년월일 <= '20200630'") - text로 출력
# df_2020_H1=df2.loc[df2["년월일"].between('20200101','20200630')] - text로 출력

Y2020_H1=(df2['년월일']>='20200101')&(df2['년월일']<='20200630') #True/False 로 반환
Y2020_H1=df2.loc[Y2020_H1] #df로 변환
Y2020_H1
Y2020_H1.reset_index(drop=True,inplace=True) #기존 인덱스 버리기

Y2020_H1.index+=1 #인덱스 1부터로 설정하기
Y2020_H1

        지역   요일 관광객_구분명              방문객_수       년월일
1    서울특별시  수요일  외지인(b)          1290688.0  20200101
2    서울특별시  수요일  외국인(c)  48461.60553021348  20200101
3      경기도  수요일  외지인(b)          1591572.5  20200101
4      경기도  수요일  외국인(c)  12475.95575836508  20200101
5    서울특별시  목요일  외지인(b)          1285672.5  20200102
..     ...  ...     ...                ...       ...
724    경기도  월요일  외국인(c)  4123.987964922458  20200629
725  서울특별시  화요일  외지인(b)          1412887.0  20200630
726  서울특별시  화요일  외국인(c)  4305.193835668924  20200630
727    경기도  화요일  외지인(b)          1493705.5  20200630
728    경기도  화요일  외국인(c)  4233.128801391241  20200630

[728 rows x 5 columns]

In [29]:
Y2020_H2=(df2['년월일']>='20200701')&(df2['년월일']<='20201231')
Y2020_H2=df2.loc[Y2020_H2]
Y2020_H2.reset_index(drop=True,inplace=True)

Y2020_H2.index+=1 #인덱스 1부터로 설정하기
Y2020_H2

        지역   요일 관광객_구분명               방문객_수       년월일
1    서울특별시  수요일  외지인(b)           1080663.5  20200701
2    서울특별시  수요일  외국인(c)   4350.232315958292  20200701
3      경기도  수요일  외지인(b)           1145189.5  20200701
4      경기도  수요일  외국인(c)   4107.641459921796  20200701
5    서울특별시  목요일  외지인(b)           1136317.0  20200702
..     ...  ...     ...                 ...       ...
732    경기도  수요일  외국인(c)  4216.9053454913865  20201230
733  서울특별시  목요일  외지인(b)           1239710.5  20201231
734  서울특별시  목요일  외국인(c)    2783.41660733784  20201231
735    경기도  목요일  외지인(b)           1530032.0  20201231
736    경기도  목요일  외국인(c)  3976.6872762107196  20201231

[736 rows x 5 columns]

In [31]:
Y2020_H1.to_csv('../crawl_data/관광데이터_광역_Y2020_H1.csv')
Y2020_H2.to_csv('../crawl_data/관광데이터_광역_Y2020_H2.csv')